body {
    background-color: #FFF;
    margin: 0px;
    padding: 50px 60px;
}

h1 {
    font-family: "Yantramanav", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #004E89;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: "Yantramanav", sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #AAA;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-family: "Yantramanav", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #333;
    text-align: center;
    margin: 0;
}